    .form-container {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 6px 18px rgba(0, 123, 255, 0.15);
      width: auto;
      margin-left: 100px;
      margin-right: 100px;
      height: 470px;
 
    }

    h2 {
      text-align: center;
      color: #0077cc;
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-top: 15px;
      color: #333;
      font-weight: 500;
    }

    input[type="number"],
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #cdd7e1;
      border-radius: 8px;
      margin-top: 5px;
      font-size: 15px;
      background-color: #f9fcff;
    }

    button {
      width: 100%;
      margin-top: 25px;
      padding: 12px;
      background-color: #007bff;
      color: white;
      border: none;
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }

    @media (max-width: 600px) {
      .form-container {
        padding: 20px;
      }
    }